@import "bootstrap";

.navbar-form input, .form-inline input {
  width:auto;
}

input[type=text], input[type=password], textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
}

body {
  padding-top:50px;
}

footer {
  margin-top:40px;
  padding-top:40px;
  padding-bottom:30px;
  background-color:#ededed;
  p {
    font-size: 11px;
    text-align: center;
  }
}

.border_bottom {
  td{ 
    border-bottom: 1px solid #B4B5B0; 
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

#masthead {
  min-height:199px;
  h1 {
    font-size: 55px;
    line-height: 1;
    margin-top:50px;
  }
  .well {
    margin-top:31px;
    min-height:127px;
  }
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.story-img {
  margin-top:25%;
  display:block;
}

a {
  color:#5e5e5e;
  text-decoration:none;
  &:hover {
    color:#223344;
    text-decoration:none;
  }
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.dropdown-menu {
  min-width: 250px;
}

.panel {
  border-color:transparent;
  border-radius:0;
  .lead {
    overflow:hidden;
    height:90px;
  }
}

.comment {
  background-color: #ededed;
  border-radius: 10px;
  margin-bottom: 10px;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
  img {
    min-width:280px;
    min-height:180px;
    max-width:380px;
    max-height:280px;
  }
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
