<footer class="navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <p>A <%= link_to "Sample Blog", root_path %> created by Enrique Carrillo</p>
    </div>
    <div class="row">
      <p><%= image_tag("copyleft.jpg") %> All rights reversed</p>
    </div>
  </div>
</footer>
