<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>A <%= link_to "Sample Blog", root_path %> created by Enrique Carrillo</p>
      <p><%= image_tag("copyleft.jpg") %> All rights reversed</p>
    </div>
  </div>
</footer>
