<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Sample Blog", root_path, class: "navbar-brand"%>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <%= link_to "New Post", new_post_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign In", root_path %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>
      </ul>
    </nav>
  </div>
</header>
